<img class="maxWidth400 border7 redBorder horizAlign block marginBottom20" src="./images/about.jpg" alt="About Risa"/>
<div class="indentText">
    Oshkosh resident Risa Tetzlaff has been interested in fine cooking all of her life, and spent a lot of time learning the ways of the chef from her Italian Grandfather.
    Out of all of the fine and delicious recipies that were handed down to her, she chose her Grandfather's secret pizza recipe as her favorite.
    Risa started making pizzas on her own while studying in at the University of Wisconsin - Stevens Point, and soon the word of her delicious pizza spread to the ends of the town.
    Once Risa had enough fans, she started up the small-town pizza parlor titled, "Risa's Pizzas".
</div>
<div class="indentText paddingTop10">
    On October 22nd, 2011, Risa announced the grand opening of her newly established restaurant in Stevens Point, Wisconsin.
    Risa worked hard both managing both her own restaurant and studying for school.
    Her hard work, sincerity, and determination were the great gifts that had excelled her past anyone's expectation.
    Risa and her employees are continuing to feed people from all around the Stevens Point area, and they are doing a great job.
    Her visions of a goal-oriented restaurant, friendly service, and awareness of the community's needs were just the thing that her customers were looking for in a pizza parlor.
    Risa takes pleasure in knowing that Risa's Pizzas is an active participant in the Stevens Point area, as well as surrounding communities.
</div>
<div class="indentText paddingTop10">
    As Risa's Pizzas continues to flourish, Risa's goals remain sturdy: existing as a beneficial asset to the community, serving our customers happily, and making spectacular pizzas.
    Thanks to all of our heplful staff and kind customers.
    To those who haven't yet tasted Risa's Pizza, we insist you take part of the joyful Risa's Pizzas experience.
</div>