<div class="bookman italics textAlignCenter marginBottom10">
    "When the moon hits your eye<br />
    Like a big pizza pie, that's Risa's Pizzas."
</div>
<div class="border7 redBorder horizAlign maxWidth400">
    <img src="/images/homePicture.jpeg" alt="Risa and her Pizza" />
</div>
<div class="textAlignCenter marginTop10">
    <div class="italics">**Disclaimer**</div>
    I'm not really in the pizza business, although I do enjoy making pizza at home from scratch!
</div>
<div class="fullWidth marginTop10 textAlignCenter">
    817 Bakers Court<br />
    Stevens Point, WI 54481<br />
    715-555-5555
</div>