<h2 class="textAlignCenter underline">
    Store Hours
</h2>
<table class="horizAlign marginTop10">
    <tbody>
    <tr>
        <td class="bold">Monday:</td><td>11:00am - 10:00pm</td>
    </tr>
    <tr>
        <td class="bold">Tuesday:</td><td>11:00am - 10:00pm</td>
    </tr>
    <tr>
        <td class="bold">Wednesday:</td><td>11:00am - 10:00pm</td>
    </tr>
    <tr>
        <td class="bold">Thursday:</td><td>11:00am - 03:00am</td>
    </tr>
    <tr>
        <td class="bold">Friday:</td><td>11:00am - 03:00am</td>
    </tr>
    <tr>
        <td class="bold">Saturday:</td><td>11:00am - 03:00am</td>
    </tr>
    <tr>
        <td class="bold">Sunday:</td><td>11:00am - 08:00pm</td>
    </tr>
    </tbody>
</table>
<div class="textAlignCenter paddingTop20">
    Stevens Point<br />
    817 Bakers Court<br />
    Stevens Point, WI 54481<br />
    715-555-5555
</div>
<div class="fullWidth horizAlign maxWidth400 marginTop10">
    <iframe class="fullWidth" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=640+2nd+Street+North,+Stevens+Point,+WI&amp;aq=0&amp;oq=640+2nd+st&amp;sll=44.900771,-89.56949&amp;sspn=9.151182,6.416016&amp;ie=UTF8&amp;hq=&amp;hnear=640+2nd+St+N,+Stevens+Point,+Wisconsin+54481&amp;t=m&amp;ll=44.545157,-89.586554&amp;spn=0.02141,0.036478&amp;z=14&amp;output=embed&iwloc=near"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=640+2nd+Street+North,+Stevens+Point,+WI&amp;aq=0&amp;oq=640+2nd+st&amp;sll=44.900771,-89.56949&amp;sspn=9.151182,6.416016&amp;ie=UTF8&amp;hq=&amp;hnear=640+2nd+St+N,+Stevens+Point,+Wisconsin+54481&amp;t=m&amp;ll=44.545157,-89.586554&amp;spn=0.02141,0.036478&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>