<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppController">
  <head>
    <title>Hi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
    <div ui-view></div>
  </body>
</html>
