* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a img {
  border: none;
}

img {
  width: 100%;
}

.block{
  display: block;
}

.baskerville {
  font-family: "Baskerville Old Face", Serif;
}

.bookman{
  font-family: "Bookman Old Style", Serif;
}

.century{
  font-family: Century, serif;
}

.underline {
  text-decoration: underline;
}

.italics{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.disableResize{
  resize: none;
}

.setWidth {
  width: 662px;
}

.maxWidth{
  max-width: 662px;
}

.maxWidth400{
  max-width: 400px;
}

.width400{
  width: 400px;
}

.width1{
  width: 1px;
}

.height170{
  height: 170px;
}

.table {
  display: table;
}

.tableRow{
  display: table-row;
}

.tableCell {
  display: table-cell;
}

.borderCollapseSeparate {
  border-collapse: separate;
}

.borderSpacing10 {
  border-spacing: 10px;
}

.textAlignLeft{
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.verticalAlignTop{
  vertical-align: top;
}

.verticalAlignMiddle *{
  vertical-align: middle;
}

.rowPaddingTop10 .tableCell{
  padding-top: 10px;
}

.padding10{
  padding: 10px;
}

.padding20{
  padding: 20px;
}

.paddingTop10 {
  padding-top: 10px;
}

.paddingRight10 {
  padding-right: 10px;
}

.paddingBottom10 {
  padding-bottom: 10px;
}

.paddingLeft10 {
  padding-left: 10px;
}

.paddingTop20 {
  padding-top: 20px;
}

.paddingBottom20 {
  padding-bottom: 20px;
}

.paddingLeft1 {
  padding-left: 1px;
}

.marginBottom-5 {
  margin-bottom: -5px;
}

.marginTop10{
  margin-top: 10px;
}

.marginRight10{
  margin-right: 10px;
}

.marginBottom10{
  margin-bottom: 10px;
}

.marginLeft10{
  margin-left: 10px;
}

.marginBottom20{
  margin-bottom: 20px;
}

.indentText{
  text-indent: 50px;
}

.fullWidth {
  width: 100%;
}

.horizAlign {
  margin-left: auto;
  margin-right: auto;
}

.peachBackground {
  background-color: #F3D283;
}

.brownBackground{
  background-color: #4D330E;
}

.grayBackground{
  background-color: lightgray;
}

.absolute {
  position: absolute;
}

.top0 {
  top: 0px;
}

.left0 {
  left: 0px;
}

.zIndex-1 {
  z-index: -1;
}

.border1{
  border: 1px solid;
}

.border7 {
  border: 7px solid;
}

.borderTop7 {
  border-top: 7px solid;
}

.borderRight7 {
  border-right: 7px solid;
}

.borderBottom7 {
  border-bottom: 7px solid;
}

.borderLeft7 {
  border-left: 7px solid;
}

.blackBorder(){
  border-color: black;
}

.redBorder {
  border-color: #DB4626;
}

.disableResize{
  resize: none;
}

.navContainer{
  display: table;
}


.navSubContainer{
  display: table-cell;
}

.navLink{
  display: table-cell;
  text-align: center;
  padding: 0.4em 1em 0.4em 1em;
  color: #FFF;
  background-color: #DB4626;
  text-decoration: none;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #717171;
  border-right: 1px solid #717171;
}

.navLink:hover {
  color: #F00;
  background-color: #FFF;
  border-top: 1px solid #717171;
  border-left: 1px solid #717171;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

@media screen and (max-width: 544px){

  .navSubContainer{
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

}