<nav class="navContainer horizAlign marginTop10 marginBottom20">
    <div class="navSubContainer">
        <a class="navLink" href="/risaspizzas">
            Home
        </a>
        <a class="navLink" href="/risaspizzas/menu" >
            Menu
        </a>
        <a class="navLink" href="/risaspizzas/about" >
            About
        </a>
    </div>
    <div class="navSubContainer">
        <a class="navLink" href="/risaspizzas/locations" >
            Locations
        </a>
        <a class="navLink" href="/risaspizzas/contact">
            Contact
        </a>
    </div>
</nav>